.bg-navy {
  background-color: #272a31;
}

.bg-red {
  background-color: #ec5242;
}

.border-red {
  border: 4px solid #ec5242;
}

.border-navy {
  border: 3px solid #272a31;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-goose {
  font-family: "COCOGOOSE", sans-serif;
}

.font-small {
  font-size: 12px;
}

.color-red {
  color: #ec5242;
}

.color-navy {
  color: #272a31;
}

.workshop-logo {
  height: 40px;
}

.effect:hover {
  background-color: #272a31;
  transition: 0.6s ease-in;
}

.wrap {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mx-width {
  max-width: 600px;
}

.about-header {
  background-image: url("assets/about-background.jpg");
  background-position: 50% 75%;
  background-size: cover;
}

.intro {
  font-size: 22px;
}

.section-header::after {
  display: block;
  content: "";
  width: 2.5em;
  margin: 0.5em auto 1em;
  border-bottom: 2px solid #ec5242;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url("assets/sre-logo.png");
  background-position: 50%;
  background-size: cover;
}

.photos {
  width: 275px;
  height: 150px;
  background-position: 50%;
  background-size: cover;
}

.twenty-twenty {
  background-image:
    linear-gradient(
      180deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(135deg, rgba(242, 71, 21, 0.9) 40%, rgba(0, 0, 0, 0) 75%),
    url("assets/sre-conference-2020.jpg");
}

.twenty-nineteen {
  background-image:
    linear-gradient(
      0deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(135deg, rgba(242, 71, 21, 0.9) 40%, rgba(0, 0, 0, 0) 75%),
    url("assets/srecon-hall.png");
}

.bg-grey {
  background-color: rgb(65, 66, 70);
}
