.bg-navy {
  background-color: #272a31;
}

.bg-red {
  background-color: #ec5242;
}

.border-red {
  border: 4px solid #ec5242;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-goose {
  font-family: "COCOGOOSE";
}

.color-red {
  color: #ec5242;
}

.workshop-logo {
  height: 40px;
}

.intro,
.date,
.icon {
  font-size: 25px;
}

.wrap {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mx-width {
  max-width: 600px;
}

#home {
  background-image: url("assets/white-architecture.jpg");
  background-position: 50% 75%;
  background-size: cover;
}

#program {
  background-image: url("assets/grey-architecture.jpg");
  background-position: 50%;
  background-size: cover;
}

#partners {
  background-image: url("assets/partners-background.jpg");
  background-position: 50%;
  background-size: cover;
}

.section-header::after {
  display: block;
  content: "";
  width: 2.5em;
  margin: 0.5em auto 1em;
  border-bottom: 3px solid #ec5242;
}

.photo {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50%;
}

.featured-ana {
  background-image: url("assets/Ana_Oprea.jpg");
}

.featured-betsy {
  background-image: url("assets/Betsy_Beyer.jpeg");
}

.featured-heather {
  background-image: url("assets/Heather_Adkins.jpeg");
}

.featured-stephen {
  background-image: url("assets/Stephen_Thorne.jpeg");
}

.featured-jennifer {
  background-image: url("assets/Jennifer_Petoff.jpg");
}

.featured-mac {
  background-image: url("assets/Mac_slocum.jpg");
}

.more::after {
  display: inline-block;
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid #ec5242;
  border-bottom: 2px solid #ec5242;
  transform: rotate(45deg);
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}
